* {
    font-family: 'Courier New', monospace;
    color: white;
}


body {
    background-color: rgb(0, 0, 0);
}
pre {
    white-space: pre; 
    word-wrap: normal;
    overflow: auto;
}

#inputLine {
    background-color: transparent;
    outline: none;
    border: none;

}

#response{
}

#terminal{
}